<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Page 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-button routerLink="/home">Home</ion-button>
<ion-content [fullscreen]="true">  
  <div id="outer-container">
      <div id="input-container">
        <ion-input></ion-input>
        <ion-input></ion-input>
        <ion-input></ion-input>
        <ion-input></ion-input>
        <ion-input></ion-input>
        <ion-input></ion-input>
        <ion-input></ion-input>
        <ion-input></ion-input>
        <ion-input></ion-input>
        <ion-input></ion-input>
        <ion-input></ion-input>
        <ion-input></ion-input>
        <ion-input></ion-input>
        <ion-input></ion-input>
      </div>
    </div>
  
</ion-content>
