<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Swiper Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
  <swiper-container [pagination]="true">
    <swiper-slide>
      <div id="input-container">
        <ion-input></ion-input>
        <ion-input></ion-input>
        <ion-input></ion-input>
        <ion-input></ion-input>
        <ion-input></ion-input>
        <ion-input></ion-input>
        <ion-input></ion-input>
        <ion-input></ion-input>
        <ion-input></ion-input>
        <ion-input></ion-input>
        <ion-input></ion-input>
        <ion-input></ion-input>
        <ion-input></ion-input>
        <ion-input></ion-input>
      </div>
    </swiper-slide>
    <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
  </swiper-container>
  
</ion-content>
